.account-p {

  padding: 30px 20px;

  h3  {
    margin: 0; padding: 0;
    margin-bottom: 24px;
    color: $grey-dark;
    @include font-size(30px);
    font-weight: 300;
  }

  .account__change-details {

    [class^="col"] {
      display: flex;
      flex-direction: column;
    }

    .light-form {
      flex-grow: 1;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .litemetrix-btn {
        width: 100%;
      }
    }
  }

  .account__logout {
    .litemetrix-btn {
      margin-right: 20px;
    }
  }

  .account__delete {
    .delete__notification {
      color: #818f99;
      margin-bottom: 20px;
    }
  }

  .account__divider {
    height: 1px;
    background: #d5e0ea;
    margin: 40px 0 30px;
  }

}