.landing-p {
  @include font-size(20px);
  font-family: 'GothamProRegular';
  line-height: 1.5;

  section { position: relative; }

  a {
    @include font-size(20px);
    font-family: 'Open Sans';
    color: #07153d;
    text-decoration: underline;

    &:hover {color: #0d256a;}
  }

  img {max-width: 100%;}

  .landing-btn {
    font-family: 'GothamProRegular';
    display: inline-block;
    padding: 12px 40px;
    transition: all 0.5s;
    @include font-size(12px);
    text-transform: uppercase;
    margin-left: 20px;
    text-decoration: none;
    letter-spacing: 1px;

    &.dark {
      color: #fff;
      background: #07153d;
      border: 1px solid transparent;
    }

    &.light {
      border: 1px solid transparent;
      color: #07153d;
      background: transparent;
    }

    &:hover {
      color: #07153d;
      background: transparent;
      border: 1px solid #07153d;
    }
  }

  .section__title {
    font-family: 'GothamProBold';
    @include font-size(43px);
  }

  .section__description {
    margin-top: 20px;
    line-height: 1.7;
  }

  .apple-store {
    a {display: inline-block;}
    a:hover {
      background: #fff;
      border-radius: 8px;
    }

  }

  .first {
    padding: 30px 0 192px;

    .header {
      position: relative;
      text-align: center;
      padding-bottom: 70px;

      .menu {
        position: absolute;
        top: 22px; right: 0;
      }

    }

    .apple-store {
      margin-top: 40px;

      a:hover {
        background: #d8dbdd;
      }
    }

    .section__title {
      color: $landing-blue;
    }

    .section__description {
      max-width: 320px;
      margin-top: 20px;
      color: #69757e;


    }

    .section__image {
      position: absolute;
      right: 0; bottom: -100px;
      left: 400px;
      z-index: 10;
    }

    .section__bottom {
      position: absolute;
      bottom: -1px; left: 0;
      width: 100%;
      height: 182px;
      background: url('../i/landing/section_1_btm_bg.png') 0 0 no-repeat;
      background-size: cover;
    }
  }

  .second {
    background: $landing-blue;
    padding: 150px 0 130px;

    .section__title {
      color: $landing-white;
    }

    .section__description {
      color: $landing-white;
      padding-left: 30%;
    }

    .section__image {
      position: absolute;
      right: -30px; top: 0px;
      max-width: none;
      z-index: 10;
    }

    .section_btns {
      margin-top: 90px;

      .landing-btn {

        &.dark {
          color: #fff;
          background: #07153d;
          border: 1px solid transparent;
        }

        &.light {
          border: 1px solid #07153d;
          color: #fff;
          background: transparent;

          &:hover {
            background: #07153d;
          }
        }

        &:hover {
          color: #fff;
          background: transparent;
          border: 1px solid #07153d;
        }

        &:first-child {margin: 0;}
      }

    }
  }

  .third {
    padding: 150px 0 250px;
    background: #ccd2d6 url('../i/landing/section_3_bg.png') 0 bottom no-repeat;

    .section__title {
      color: $landing-blue;
    }

    .section__description {
      margin-top: 70px;
      color: $landing-blue;
      max-width: 500px;

      .apple-store { margin-top: 70px; }

    }

    .section__image {
      position: absolute;
      bottom: 0; right: 0;
      width: 70%;
      height: 608px;
      background: url('../i/landing/section_3.png') bottom right no-repeat;
      background-size: contain;
    }
  }

  .fourth {
    .section-c {
      display: flex;

      .section-c__left {
        position: relative;
        flex: 0 0 36%;
        background: #0085f9;
        padding: 90px 0 640px;

        .section__image {
          position: absolute;
          right: -260px;
          bottom: 0;
          z-index: 10;
        }

      }

      .section-c__right {
        position: relative;
        flex: 0 0 64%;
        padding: 90px 0 640px;
        text-align: center;
        background-color: #03a9f4;
        background-image: url('../i/landing/section_4_triangle.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left -1px 0;

        .section__title {
          display: inline-block;
          max-width: 500px;
          text-align: left;
        }

        .section__image {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: -150px;
        }

      }
    }
  }

  .fifth {
    background: $landing-blue;
    padding: 140px 0 170px;

    .section__title {
      color: #f3f6f9;
    }

    .section__description {
      margin-top: 50px;
      color: #f3f6f9;
      max-width: auto;

      .description__list {
        display: flex;
        margin-top: 12px;

        .custom-icons {
          flex: 0 0 34px;
          margin-right: 40px;
        }
      }

      .apple-store {
        margin-top: 70px;
        a:hover { background: #2b3d72; }
      }
    }

    .section__image {
      position: absolute;
      right: 0; bottom: -40px;
      text-align: right;

      img {width: 80%;}

    }
  }

  .sixth {
    background: #009cff;
    padding: 60px 0 220px;

    .section__title {
      display: inline-block;
      margin-bottom: 50px;
      max-width: 660px;
      color: $landing-white;
    }

    .description__list-title {
      overflow: hidden;
      height: 210px;
      padding: 0 20px;
      color: $landing-white;
      text-align: center;
      font-family: 'GothamProBold';
      @include font-size(18px);
      text-transform: uppercase;

      .custom-icons {
        margin-bottom: 30px;
      }

    }

    .description__list {
      padding: 0 20px;
      color: $landing-white;
      margin-top: 36px;

      > div {
        margin-top: 20px;
      }
    }

    .section__image {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      //background: url(../i/landing/section_6_btm.png) bottom center no-repeat;
    }
  }

  .section__registration {
    background: #eaeff2;
    padding: 110px 0 180px;

    .section__title {
      display: inline-block;
      margin-bottom: 70px;
      max-width: 660px;
      color: $landing-blue;
    }

    .section__subtitle {
      color: #009cff;
    }

    .registration__form {
      max-width: 480px;
      margin: 80px auto 0;

      .light-form {

        .form-group {
          margin-bottom: 50px;
        }

        .litemetrix-btn {
          width: 100%;
          padding: 20px 24px;
          margin-top: 40px;
          font-family: 'GothamProMedium';
          @include font-size(24px);
        }
      }

      .form__btm {
        text-align: center;
        font-family: 'GothamProRegular';
        @include font-size(18px);
        color: #818f99;
        line-height: 2;

        a {
          color: $blue;
          font-family: 'GothamProRegular';
          @include font-size(18px);
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .section__image {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 130px;
      text-align: center;
      background: url(../i/icons/circle_bg.png) top center no-repeat;
    }
  }


  .section__reviews {
    background: #23a9fe;
    padding: 100px 0 0px;

    .section__title {
      display: inline-block;
      margin-bottom: 130px;
      max-width: 660px;
      color: $landing-blue;
    }

    .owl-carousel {
      position: relative;
      max-width: 1000px;
      margin: 0 auto;

      .review-c {
        display: flex;

        .review__photo {
          display: flex;
          flex: 0 0 412px;
          //width: 412px;
          height: 704px;
          background: url('../i/landing/section_reviews_mobile.png') 0 0 no-repeat;
          text-align: center;
          margin-right: 100px;
          //img {max-width: 100%; }

          .review__photo-c { margin: auto; }

          .photo__avatar {
            display: inline-block;
            box-shadow:
                    0 0 0 12px #1c284c,
                    0 0 0 13px #404f7c,
                    0 0 0 25px #1c284c,
                    0 0 0 26px #2b3860
            ;
            border-radius: 50%;

            img {max-width: 100%; border-radius: 50%;}
          }

          .photo__name {
            margin-top: 60px;
            text-align: center;
            @include font-size(23px);
            font-family: 'GothamProBold';
            color: $landing-white;
            letter-spacing: 1px;
          }
        }

        .review__details {
          max-width: 400px;
          margin: auto;
          display: flex;
          position: relative;

          .review__details-c {
            position: relative;
            margin: auto;
            padding: 60px 50px;
            color: $landing-blue;
            background: $landing-white;
            text-align: center;
            font-family: 'GothamProRegular';
            @include font-size(16px);
            line-height: 33px;

            .review__stars {
              margin-top: 20px;
              color: $landing-blue;
              @include font-size(20px);
            }

            .review__quote {
              position: absolute;
              font-family: 'GothamProRegular';
              @include font-size(114px);
              color: $landing-blue;
              line-height: 1;
              z-index: 10;

              &.top {
                top: -20px; left: 30px;
              }

              &.btm {
                bottom: -92px; right: 30px;
              }
            }

            .review__arrow {
              position: absolute;
              left: -20px; top: 50%;
              margin-top: -20px;
              width: 0;
              height: 0;
              border-bottom: 20px solid transparent;
              border-right: 20px solid $landing-white;
              border-top: 20px solid transparent;
            }
          }

        }

      }

      .owl-nav {

        position: absolute;
        top: 50%; width: 100%;
        margin-top: -18px;

        .owl-prev, .owl-next {
          font-size: 0;
          position: absolute;

          &:after {
            @include font-size(20px);
            color: $landing-blue;
            font-family: 'simple-line-icons';
            position: absolute;
            top: 0;
          }
        }
        .owl-prev {
          left: -60px;

          &:after {
            content: "\e605";
            left: 0;
          }
        }

        .owl-next {
          right: -60px;

          &:after {
            content: "\e606";
            right: 0;
          }

        }
      }

      .owl-dots {display: none;}
    }

  }
}