.main__left-c {
  position: relative;
  flex: 0 0 $left-column-width;
  max-width: $left-column-width;

  //fix for safari
  display: flex;
  flex-direction: column;

  .left_categories-c {
    flex-grow: 1;
    height: auto;
    background: #f5f8fa;
    border-right: 1px solid #cedbe6;
    //box-shadow: 2px 0 10px rgba(0,0,0,0.1);

    .categories__logo {
      position: relative;
      display: none;
      text-align: center;
      margin: 20px 0 10px;

      .categories__close {
        position: absolute;
        top: -10px; right: 20px;

        svg {
          width: 14px; height: 14px;
          stroke: $grey-dark;
        }
      }

    }

    .left_categories {
      margin: 0; padding: 0;
      padding-bottom: 75px;
      background: #f5f8fa;

      li {
        display: block;
        position: relative;

        .category-name {
          display: block;
          padding: 18px 80px 18px 20px;
          text-decoration: none;
          background: #f5f8fa;
          border-left: 3px solid #f5f8fa;
          transition: all 0.8s;
          @include clip-text;


          &.has-subcat {
            position: relative;
            background: #e1e8eb;
            border-left: 3px solid $blue;
            @include collapsed-arrow(14px);

            &:after {
              color: #5e656a;
              margin-top: -10px;
            }

            &.collapsed {
              background: #f5f8fa;
              border-left: 3px solid #f5f8fa;
            }

            .category_edit {
              right: 50px;
            }

          }

          &.add {
            color: $blue;
            i {
              @include font-size(34px);
              vertical-align: middle;
            }

            &:hover {
              border-left-color: #f5f8fa !important;
            }
          }

          span {  margin-left: 12px;  }
        }

        .category_edit {
          opacity: 0;
          position: absolute;
          top: 0; right: 20px;
          line-height: 66px;
          @include font-size(20px);
          color: #5e656a;
          transition: all 0.5s;
          cursor: pointer;

        }

        &:hover {
          .category_edit { opacity: 1; }
        }

      }


      &.level1 {
        padding-bottom: 0;

        li {
          .category-name {
            background: #ebf0f2;
            border-left-color: #ebf0f2;
            padding-left: 40px;
          }
        }
      }
    }

    .username-c {
      position: fixed;
      bottom: 0; left: 0;
      width: $left-column-width;
      border-top: 1px solid #cedbe6;
      border-right: 1px solid #cedbe6;
      background: #f5f8fa;
      transition: all 0.5s;
      padding: 14px 23px;

      .username_user {
        text-decoration: none;
        @include font-size(18px);
        font-weight: 400;
        @include clip-text;

        i {
          display: inline-block;
          width: 34px;
          height: 34px;
          background: $blue;
          text-align: center;
          line-height: 30px;
          border-radius: 50%;
          color: #fff;
          @include font-size(18px);
          margin-right: 12px;
        }

        span {vertical-align: baseline;}
      }

      &:hover {
        background: #e1e8eb;
      }

    }

  }

}