.login-p {

  background: $landing-white;
  height: 100%;

  .blue-link {
    @include font-size(20px);
    color: $blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .login-c {
    padding: 20px;
    margin: auto;
    text-align: center;

    .login__logo {
      .logo__title {
        color: $grey-dark;
        @include font-size(20px);
        font-weight: 400;
        margin: 20px 0 0;
      }
    }

    .login__welcome {

      margin: 10vh 0 7vh;
      max-width: 600px;

      color: #818f99;
      @include font-size(22px);
      font-weight: 400;

      .welcome__title {
        color: $grey-dark;
        @include font-size(36px);
        font-weight: 300;
        margin: 0 0 10px;
      }
    }

    .light-form {
      max-width: 450px;
      margin: 0 auto;

      .form-group {
        .hidden-label {  text-align: left;  }
        .form-control {  @include font-size(25px);  }
      }

      .litemetrix-btn {
        @include font-size(25px);
        font-weight: 600;
        width: 100%;
        padding: 16px 0;
        margin-top: 20px;
      }

      .forgot-password {
        margin-top: 40px;
      }
    }

    .login__btm {

      margin-top: 40px;
      color: #818f99;
      @include font-size(20px);

      .arrow-symbol {
        font-family: 'Arial';
        vertical-align: baseline;
      }

    }

  }

}
