.main-c {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  overflow: hidden;
}

.main__center-c {
  flex: 1;
  background: #edf2f5;
  padding: 15px 0;
  max-width: calc(100% - 650px);
  //display: flex;

  .container {
    max-width: 100%;
  }

  .center__header {
    display: flex;
    padding-bottom: 10px;
    margin: 0 3px;
    border-bottom: 2px dotted #c3d3e1;

    .header__item {
      text-decoration: none;
      margin-right: 56px;
      color: #818f99;
      @include font-size(15px);
      transition: all 0.5s;

      i {
        color: $blue;
        @include font-size(30px);
        margin-right: 10px;
        vertical-align: middle;
        transition: all 0.5s;

        &.fa-tachometer {
          margin-top: -2px;
        }

      }

      &:hover {
        color: #484f55;
        .fa {color: $blue-hover;}
      }

    }

  }

  .main__items-c {
    margin-top: 15px;

    [class^="col"] {
      margin-bottom: 20px;
    }

    .item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: #e1e8eb url('../i/icons/circle_bg.png') -82px -76px no-repeat;
      border: 3px solid #edf2f5;
      border-radius: 3px;
      transition: all 0.3s;
      font-weight: 300;
      cursor: pointer;
      height: 100%;

      .item__title {
        position: relative;
        @include font-size(20px);
        line-height: 22px;
        color: #fff;
        padding: 12px 60px 12px 20px;
        min-height: 68px;
        max-height: 68px;
        @include clip-text;

        .subtitle {  @include font-size(15px);  }

        .favourite {
          position: absolute;
          color: #fff;
          @include font-size(20px);
          right: 20px;
          top: 0;
          line-height: 68px;
        }
      }

      .item__body {
        display: flex;
        padding: 0 20px;
        color: #818f99;
        @include font-size(15px);
        align-items: flex-end;
        justify-content: space-between;

        .body__person {

          max-width: 50%;
          padding-right: 20px;

          .person__info {

            margin-top: 5px;
            display: flex;
            align-items: center;

            .person__name {
              @include clip-text;
            }

            .person__avatar {
              min-width: 30px;
              width: 30px; height: 30px;
              margin-left: 10px;
              margin-right: 0;
            }
          }
        }

        .body__stats {
          max-width: 50%;
          padding-top: 10px;
          text-align: right;

          .stat__title {
            font-weight: 500;
            @include clip-text;
          }

          .stat__value {
            @include font-size(62px);
            line-height: 62px;
            color: $grey-dark;
          }
        }

        .body__description {
          color: #818f99;
          margin-left: 20px;
          @include font-size(15px);

          &.small {
            line-height: 20px;
            max-height: 100px;
            overflow:hidden;
            max-width: 30%;
          }

          &.big {
            @include font-size(62px);
            line-height: 84px;
            @include clip-text;
            padding-top: 20px;
            padding-bottom: 20px;
          }

        }


        &.compact {
          align-items: center;

          .body__stats {
            align-self: flex-start;
          }

        }

      }

      .item__history {
        display: flex;
        height: 100px;
        background: url('../i/test/chart.png') right bottom no-repeat;

        .history {
          flex: 1 1 0;

          position: relative;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          color: #fff;
          padding: 15px 0;

          .big {
            @include font-size(30px);
            line-height: 26px;
          }

          .small {
            color: #e1e8eb;
            white-space: nowrap;
            margin-left: 6px;
            @include font-size(12px);
            line-height: 13px;
          }

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 1px;
            background: #e1e8eb;
            height: 40px;
          }

          &:last-child {
            &:after {
              height: 0; width: 0;
            }
          }

        }

      }


      &.blue {
        .item__title {
          background: rgba(0,133,250,.5);
          .subtitle {color: #a6e3ff;}
        }
      }

      &.yellow {
        .item__title {
          background: rgba(245,184,0, 0.7);
          .subtitle {color: #ffecb2;}
        }
      }

      &.green {
        .item__title {
          background: rgba(187,206,0,0.6);
          .subtitle {color: #f9feca;}
        }
      }

      &.violet {
        .item__title {
          background: rgba(34,56,182,0.7);
          .subtitle {color: #a2b0fa;}
        }
      }

      &:hover {

        &.blue {
          border-color: $blue;
          box-shadow: 0 0 14px rgba(0,133,250,.5), 0 0 22px rgba(0,0,0,.3);
        }

        &.yellow {
          border-color: #f5b800;
          box-shadow: 0 0 14px rgba(245,184,0, 0.7), 0 0 22px rgba(0,0,0,.3);
        }

        &.green {
          border-color: #bdcc2e;
          box-shadow: 0 0 14px rgba(187,206,0,0.6), 0 0 22px rgba(0,0,0,.3);
        }

        &.violet {
          border-color: #3f51b5;
          box-shadow: 0 0 14px rgba(34,56,182,0.7), 0 0 22px rgba(0,0,0,.3);
        }

      }

    }

  }

  .group-title {
    display: block;
    color: #505559;
    @include font-size(24px);
    margin: 10px 18px 15px;

    span {  margin-left: 20px;  }

  }

}