.main__right-c {
  position: relative;
  background: #edf2f5;
  flex: 0 0 $right-column-width;
  max-width: $right-column-width;

  //fix for safari
  display: flex;
  flex-direction: column;

  //темносиний блок с детальной информацией про показатель
  .item-details-c {
    //display: none;
    position: absolute;
    flex-grow: 1; //fix for safari
    right: -407px;
    background: #020028;
    height: 100%;
    color: #fefeff;
    @include font-size(15px);
    box-sizing: border-box;
    padding-bottom: 70px;
    width: $right-column-width;

    &.opened {
      right: 0px;
    }

    .details__title {
      display: flex;
      align-items: center;
      padding: 11px 20px 12px;

      &.border-bottom-m {
        border-bottom: 1px solid $blue-line;
      }

      i {margin-right: 14px;}

      .title__text {
        flex: 1;
        min-width: 0;

        .big {
          @include font-size(20px);
          font-weight: 500;
          @include clip-text;
        }
      }


    }

    .grey-italic {
      vertical-align: baseline;
      color: $grey;
      font-style: italic;
      font-weight: 400;
    }

    .details__actions {
      display: flex;

      i {
        color: #b4b3bf;
        @include font-size(20px);
        vertical-align: middle;
        margin-right: 8px;
      }

      margin-top: 12px;
      border-top: 1px solid #0a1b47;
      border-bottom: 1px solid #0a1b47;
      color: $grey;
      font-weight: 400;

      .actions__btn {
        width: 50%;
        padding: 10px 0;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s;

        &:first-child {
          border-right: 1px solid #0a1b47;
        }

        &:hover {
          background: #03003c;
        }
      }
    }

    .details__chart {
      height: 100px;
      background: url('../i/test/chart_blue.png') right bottom no-repeat;
    }

    .details__show-chart {
      display: block;
      text-decoration: none;
      position: relative;
      background: #061b46;
      background: linear-gradient(to top, #071740, #062355);
      color: $grey;
      padding: 10px 20px;
      cursor: pointer;
      transition: all 0.5s;
      @include collapsed-arrow(14px);

      &:before {  content: "Скрыть график";  }

      &:after {
        color: $grey;
        //line-height: 48px;
      }

      &.collapsed {
        &:before {  content: "Показать график";  }
      }

      &:hover {
        background: #04143e;
      }
    }

    .details__subtitle {
      background: #050b33;
      padding: 10px 20px;
      color: $grey;
      text-transform: uppercase;
      font-weight: 600;
    }

    .details__value-c {
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      @include font-size(16px);
      color: $grey;

      .value__val {  color: $grey-light;  }

      .icon-pencil {
        @include font-size(20px);
        color: $grey-light;
        margin-left: 10px;
      }

      &.active {
        background: #07153d;
      }
    }

    .details__list-item {
      position: relative;
      padding: 14px 20px;
      display: flex;
      align-items: center;
      @include font-size(16px);
      color: $grey-light;
      font-weight: 400;
      transition: all 0.5s;

      .item__name {
        @include clip-text;
      }

      .item__icons {
        flex-grow: 1;
        text-align: right;
        white-space: nowrap;

        .item__icon {
          display: inline-block;
          margin-left: 10px;
          @include font-size(20px);
          transition: all 0.5s;
          cursor: pointer;

          &.edit {
            opacity: 0;
            color: #b5b9c5;
            &:hover {  color: #d0d0d0;  }
          }

          &.delete {
            color: #cf3247;
            &:hover { color: #fa4b62; }
          }
        }
      }

      &:hover {
        background: #07153d;
        .item__icon.edit { opacity: 1; }
      }
    }

    .details__subgroup {
      padding: 20px 0;

      .subgroup__name {
        padding: 0 20px;
        color: $grey-light;
        text-decoration: none;
        font-weight: 400;
        @include collapsed-arrow(12px);

        &.collapsed {
          &:after { content: "\e606"; }
        }
      }
    }

    .details__divider {
      height: 1px;
      background: $blue-line;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .details__add-new {
      //visibility: hidden;
      display: none;
      position: fixed;
      width: $right-column-width;
      right: 0; bottom: 0;
      padding: 14px 20px;
      background: #07153d;
      //display: flex;
      justify-content: space-between;
      align-items: center;
      @include font-size(17px);
      color: $grey;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {  background: #0f2052;  }


      &.buttons-c {
        @include font-size(20px);
        font-weight: 600;
        padding: 0;

        .buttons__btn {
          width: 50%;
          text-align: center;
          padding: 14px 0;
          background: #07153d;
          transition: all 0.5s;

          &:hover {  background: #0f2052;  }

          &.save {
            background: $blue;
            color: #fff;

            &:hover {  background: #2495f9;  }
          }
        }
      }

    }

    .details__close {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      background: #020028;
      top: 0;
      left: -56px;
      width: 57px; height: 57px;
      cursor: pointer;
      transition: all 0.5s;

      svg {
        width: 18px;
        height: 18px;
      }

      &:hover {
        svg line {  stroke: #37c0fe; }
      }
    }


    .nav-tabs {
      //margin-top: 10px;
      border-bottom: 1px solid $blue-line;

      .nav-item {
        flex: 1 1 0;
        margin-bottom: -2px;
      }

      .nav-link {

        text-align: center;
        color: $grey;
        font-weight: 400;
        margin: 0 20px;
        white-space: nowrap;
        border: none;
        border-bottom: 2px solid transparent;

        &.active {
          color: $blue;
          background: transparent;
          border: none;
          border-bottom: 2px solid $blue;
        }

        &:hover, &:focus {
          color: $blue;
          border: none;
          border-bottom: 2px solid $blue;
        }

      }

    }

  }

  //форма добавить новый показатель
  .add-new-index {
    //display: block;

    .litemetrix-form {
      padding: 0 20px;
    }
  }

  //добавить новую область
  .area-details {

    .details__title {
      margin-bottom: 5px;
    }

    .person__avatar {
      width: 34px; height: 34px;
      margin-right: 15px;
      min-width: 34px;

      .avatar__active {
        background-size: 50%;
      }
    }
  }


  .add-new-m {
    a {
      color: $blue;
      text-decoration: none;

      &:hover {
        color: $blue-hover;
      }
    }

    i {  margin-right: 15px; }
  }

}