.litemetrix-form {

  @include font-size(16px);
  font-weight: 400;

  .form-group {
    margin-bottom: 20px;

    .form-control {
      color: $grey-light;
      background: #020028;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid $blue;
      padding: 10px 0;
      transition: all 0.5s;

      &:focus {
        border-bottom-width: 2px;
        outline: none;
      }

      //placeholder color
      &::-webkit-input-placeholder {  color: $grey; font-weight: 300; }
      &:-moz-placeholder {  color: $grey; font-weight: 300;  }
      &::-moz-placeholder {  color: $grey; font-weight: 300;  }
      &:-ms-input-placeholder {  color: $grey; font-weight: 300;  }
      &::-ms-input-placeholder {  color: $grey; font-weight: 300;  }

      /* Change Autocomplete styles in Chrome*/
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        border: 0;
        border-bottom: 1px solid $blue;
        -webkit-text-fill-color: $grey-light;
        -webkit-box-shadow: 0 0 0px 1000px #020028 inset;
        transition: background-color 5000s ease-in-out 0s;
      }

      &.litemetrix-select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 12px;
        background: url('../i/icons/arrow_select.png') right center no-repeat;
        height: auto;
      }

    }
  }

  .form-check {
    padding: 10px 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .form-check-label {
      padding: 0;
      color: $grey-light;
      cursor: pointer;
    }
  }


  .form__subgroup {
    padding: 20px 0;

    .subgroup__name {
      //padding: 10px 0;
      color: $grey-light;
      text-decoration: none;
      @include collapsed-arrow(12px);

      &:after {  right: 0;  }

      &.collapsed {
        &:after { content: "\e606"; }
      }
    }

    .subgroup__inputs {
      .form-group:first-child {
        margin-top: 20px;
      }
      .form-group:last-child {
        margin-bottom: 0px;
      }
    }
  }

  .details__divider {
    margin-left: -20px;
    margin-right: -20px;
  }

  .litemetrix-checkbox {
    width: 20px;
    height: 20px;
    position: relative;

    .checkbox-visible {
      position: absolute;
      width: 20px;  height: 20px;
      background: transparent;
      border: 1px solid $blue;
      border-radius: 3px;
    }

    > input {
      position: absolute;
      z-index: 1;
      opacity: 0;
      left: 50%;
      top: 50%;
      transform: translatex(-50%) translatey(-50%);
      display: block;
      cursor: pointer;
      width: 20px;
      height: 20px;
    }

    > input:checked + .checkbox-visible {
      background: $blue url('../i/icons/check.png') center center no-repeat;
    }

    > input:disabled + .checkbox-visible {
      border: 1px solid $grey;
      background-color: $grey-light;
    }
  }

}

.light-form {
  .form-group {

    position: relative;
    margin: 0; margin-bottom: 25px;
    padding-top: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    .form-control {
      @include font-size(19px);
      color: $grey-dark;
      background: transparent;
      border-radius: 0;
      border: 0;
      border-bottom: 1px solid #aab6bd;
      padding: 10px 0 10px;
      transition: all 0.5s;
      font-weight: 300;
      caret-color: $blue;

      &:focus {
        padding-bottom: 9px;
        border-bottom: 2px solid $blue;
        outline: none;

        + .hidden-label {
          opacity: 1;
        }

      }

      //placeholder color
      &::-webkit-input-placeholder {  color: #818f99; }
      &:-moz-placeholder {  color: #818f99; }
      &::-moz-placeholder {  color: #818f99; }
      &:-ms-input-placeholder {  color: #818f99; }
      &::-ms-input-placeholder {  color: #818f99; }


      /* Change Autocomplete styles in Chrome*/
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        border: 0;
        border-bottom: 1px solid #aab6bd;
        -webkit-text-fill-color: $grey-dark;
        -webkit-box-shadow: 0 0 0px 1000px transparent inset;
        transition: background-color 5000s ease-in-out 0s;
      }


    }

    .hidden-label {
      opacity: 0;
      position: absolute;
      padding: 0; margin: 0;
      top: 0;
      left: 0; right: 0;
      color: $blue;
      @include font-size(15px);
      font-weight: 400;
      transition: all 0.5s;
      @include clip-text;
    }

  }
}