html {  height: 100%;  }

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; //flush footer to bottom
	font-size: 16px;
  	line-height: 1.7;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	min-width: 320px;
	//overflow-x:hidden;
}

a {
	color: $grey-dark;
	@include font-size(16px);
	cursor: pointer;
	transition: all 0.5s;

	&:hover {  color: $grey;  }
}

span { vertical-align: middle;}
.font-weight-bold {font-weight: 600;}

.blue {color: $blue;}
.pos-rel {position: relative;}

header {
	position: relative;
	display: flex;
	height: 90px;
	color: $grey-light;
	background: #07153d;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	align-items: stretch;
	z-index: 2;
	//padding: 0 $global-padding;

	.header__logo {
		margin: auto;
		width: $left-column-width;
		min-width: $left-column-width;
		padding-left: $global-padding;
	}

	.header__title {
		margin: auto;
		@include font-size(24px);
		font-weight: 100;
		padding: 0 18px;
		@include clip-text;

		i {  margin-right: 20px;  }
	}

	.header__nav {
		flex-grow: 1;
		padding-right: 40px;
		display: flex;
		justify-content: flex-end;
		align-items: stretch;

		.nav__icon {
			margin: auto 40px auto 0;
			color: $grey-light;
			text-decoration: none;
			line-height: normal;
			transition: all 0.5s;

			i {  @include font-size(34px);  }

			&:hover {  color: #c1d5eb;  }
		}

		.nav__person-c {
			position: relative;
			display: flex;
			align-items: center;
			cursor: pointer;
			transition: all 0.5s;

			.person__name {
				@include font-size(18px);
				font-weight: 300;
				margin-right: 30px;
				@include clip-text;
			}

			.caret-down {
				width: 0;
				height: 0;
				border-left: 6px solid transparent;
				border-right: 6px solid transparent;
				border-top: 6px solid $grey;
			}

			.caret-up {
				display: none;
				position: absolute;
				color: #fff;
				width: 0;
				height: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-bottom: 10px solid #fff;
				bottom: 0;
				left: 50%;
				margin-left: -10px;
			}

			&:hover {  color: #c1d5eb;  }

		}

		.nav__persons-c {
			display: none;
			position: absolute;
			top: 90px;
			right: 28px;
			width: 350px;
			box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
			background: #fff;
			border-radius: 4px;
			text-align: left;
			padding: 20px 0;
			z-index: 10;

			.persons__person-c {
				display: block;
				padding: 10px 30px;
				text-decoration: none;
				transition: all 0.2s;
				@include font-size(16px);
				font-weight: 300;
				color: $grey-dark;
				@include clip-text;

				&:hover {  background: #f5f8fa;  }
				&.active {  background: #f5f8fa;  }

				&.add-new {
					color: #0085fa;
					.person__avatar {
						background: url('../i/icons/add_blue.png') center center no-repeat;
					}
				}

				.person__name {  vertical-align: middle;  }
			}
		}
	}

	.header__menu-icon {
		display: none;
		flex: 0;
		@include font-size(24px);
		margin-top: 15px;
		line-height: normal;
	}

	.header__search {
		display: none;
		position: absolute;
		left: 0; right: 0;
		bottom: 6px;
		padding: 0 15px;

		.search__input {
			width: 100%;
			color: $grey-light;
			background: #07153d;
			border-radius: 20px;
			border: 1px solid $grey;
			padding: 0 30px 0 20px;
			height: 30px; line-height: 30px;
			@include font-size(14px);
			font-weight: 300;

			&:focus {  outline: none;  }
		}

		&:after {
			content: "\e090";
			position: absolute;
			top: 0;
			right: 26px;
			color: $grey;
			font-family: 'simple-line-icons';
			@include font-size(16px);
			line-height: 32px;

		}
	}

}


.person__avatar {
	position: relative;
	display: inline-block;
	border-radius: 50%;
	margin-right: 25px;
	vertical-align: middle;
	width: 40px;
	height: 40px;

	img {
		max-width: 100%;
		border-radius: 50%;
	}

	.avatar__active {
		position: absolute;
		top: 0; bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgba(0, 133, 250, 0.5);
		background-image: url('../i/icons/check_white.png');
		background-repeat: no-repeat;
		background-position: center center;
		border-radius: 50%;
	}
}

.body__overlay {
	display: none;
	position: fixed;
	z-index: 99;
	background: rgba(0,0,0,0.3);
	top: 0; left: 0;
	right: 0;
	height: 100%;
}


.litemetrix-btn {
	display: inline-block;
	padding: 9px 24px;
	text-transform: uppercase;
	@include font-size(15px);
	font-weight: 400;
	color: #fefefe;
	border-radius: 4px;
	text-align: center;
	background: $blue;
	@include clip-text;
	border: 0;
	letter-spacing: 0.08rem;
	cursor: pointer;
	transition: all 0.5s;

	&:hover {outline: none; background: #1e93f9; }
	&:focus {outline: none;}

	&.grey {
		background: #aab6bd;
		&:hover {background: #949ea4; }
	}

	&.red {
		background: #eb675e;
		&:hover {background: #d35e56; }
	}

}

//icons temporary

.custom-icons {
	display: inline-block;
	width: 34px; height: 34px;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	background-size: contain;

	&.circle-small {
		&.blue {background-image: url(../i/icons/circle_small_blue.png); }
		&.red {background-image: url(../i/icons/circle_small_red.png); }
		&.green {background-image: url(../i/icons/circle_small_green.png); }

	}

	&.double-arrows {
		background-image: url(../i/icons/double-arrows.png);
	}

	&.add-blue {
		background-image: url(../i/icons/add_blue.png);
	}

	&.circle-black {
		width: 61px; height: 61px;
		background-image: url(../i/icons/circle_black.png);
	}

	&.landing-health {
		width: 100px; height: 101px;
		background-image: url(../i/landing/section_6_i1.png);
	}

	&.landing-study {
		width: 100px; height: 101px;
		background-image: url(../i/landing/section_6_i2.png);
	}

	&.landing-house {
		width: 100px; height: 101px;
		background-image: url(../i/landing/section_6_i3.png);
	}
}
