.litemetrix-btn {

  @include media-breakpoint-down(xs) {
    display: block;
    width: 100%;
    margin: 0 0 20px;
  }
}

header {

  @include media-breakpoint-down(lg) {
    .header__nav {
      .nav__person-c .person__name {
        display: none;
      }
    }
  }

  @include media-breakpoint-down(md) {

    height: 95px;
    justify-content: space-between;
    padding: 0 15px;
    align-items: flex-start;

    .header__logo {
      display: none;
    }

    .header__title {
      margin-top: 15px;
      flex-grow: 1;
      @include font-size(16px);
      color: #fff;
      text-align: center;

      span {
        margin-left: 10px;
      }
      .custom-icons {
        width: 30px;
        height: 30px;
      }
    }

    .header__nav {
      padding: 0;
      flex-grow: 0;
      margin-top: 15px;

      .nav__icon {
        &.search {display: none;}
      }

      .nav__person-c .caret-up {
        border-width: 0 6px 6px 6px;
        bottom: -10px;
        margin-left: 5px;
      }

      .nav__persons-c {
        width: 300px;
        right: 10px;
        top: 54px;
      }

    }

    .header__search {
      display: block;
    }

    .header__menu-icon {
      display: block;
    }

  }

}

.person__avatar {

  @include media-breakpoint-down(md) {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

}

//center column with main blocks
.main__center-c {

  @media (max-width: 1550px) {
    max-width: calc(100% - 300px);

    .main__items-c {
      .item {
        .item__body {

          .body__person {max-width: 40%;}

          .body__stats {
            max-width: 60%;
            .stat__value {
              @include font-size(52px);
            }
          }

        }
      }
    }

  }

  @include media-breakpoint-only(lg) {
    .main__items-c {
      .item {

        .item__body {
          align-items: center;
          .body__person {
            .person__info {display: none;}
          }
        }

        .item__history {
          .history {
            display: none;

            &:nth-child(-n+2){
              display:flex;
            }

            &:nth-child(2):after{
              width: 0; height: 0;
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    max-width: 100%;
  }

  @include media-breakpoint-down(sm) {

    .main__items-c {

      .item {
        .item__body {

          .body__stats {

            max-width: none;

            .stat__title {
              white-space: normal;
              line-height: 1.2;
            }

            .stat__value {
              @include font-size(42px);
            }
          }

        }
      }
    }
  }

  @include media-breakpoint-down(xs) {

    .center__header {
      flex-direction: column;

      .header__item {
        margin-bottom: 10px;

        &:last-child {margin-bottom: 0;}
      }
    }

    .main__items-c {
      .item {
        .item__body {

          align-items: center;

          .body__person {
            .person__info {
              display: none;
            }
          }
        }

        .item__history {
          .history {
            display: none;

            &:nth-child(-n+2){
              display:flex;
            }

            &:nth-child(2):after{
              width: 0; height: 0;
            }
          }
        }

      }
    }
  }
}

//left column with categories list
.main__left-c {
  @include media-breakpoint-down(md) {
    width: 0; max-width: 0;

    .left_categories-c {
      //display: none;
      position: absolute;
      width: $left-column-width;
      top: -95px; bottom: 0;
      left: -$left-column-width;
      z-index: 100;

      .categories__logo {
        display: block;
      }

      .username-c {display: none;}

    }

  }
}

//right column with forms and detailed information
.main__right-c {
  //@include media-breakpoint-down(lg) {
  @media (max-width: 1550px) {
    position: relative;
    width: 0px;
    max-width: 0px;

    .item-details-c {
      //position: absolute;
      //top: 0; right: 0;
      //width: $right-column-width;

    }
  }

  @include media-breakpoint-down(xs) {

    .item-details-c {
      width: 100vw;
      right: -100vw;

      .details__title .title__text .big {
        padding-right: 20px;
      }

      .details__close {
        left: auto; right: 10px; top: 10px;
        width: 18px; height: 18px;
        background: transparent;
      }

      .details__add-new {
        width: 100%;
      }

      .nav-tabs .nav-link { margin: 0 10px; }
    }
  }
}

.account-p {
  @include media-breakpoint-down(xs) {
    .light-form {
      margin-bottom: 36px;
    }

    .account__change-details {
      .light-form {
        .email-btn {  margin-top: 0px;  }
      }
    }

    .account__divider {
      margin-top: 0px;
    }

    .account__logout {
      margin-bottom: 16px;
    }

  }
}

.landing-p {

  @media (max-width: 1330px) {

    .second {  padding: 60px 0 80px;  }

    .fourth .section-c .section-c__left .section__image {
      right: -140px;
    }

    .fifth {
      .section__description {
        max-width: 600px;
      }
    }

  }

  @include media-breakpoint-down(lg) {

    .second {

      .section__image {
        display: block;
        position: relative;
        right: 0; top: 0;
        margin: 10px 0 30px;
        max-width: 100%;
        z-index: 10;
      }

      .section__description {
        padding-left: 0;
      }

      .section_btns {
        margin-top: 50px;
        display: flex;
        justify-content: space-between;

        .landing-btn {
          text-align: center;
          width: 48%;
          padding: 12px 0;
        }
      }
    }

    .fourth .section-c .section-c__left .section__image {
      right: -80px;
    }

    .fifth {
      .section__description {
        max-width: 500px;
        .description__list .custom-icons { margin-right: 20px;}
      }
    }

    .section__reviews {

      .owl-carousel {

        .owl-nav .owl-prev {left: 10px;}
        .owl-nav .owl-next {right: 10px;}

        .review-c {
          .review__photo {

            margin-right: 50px;
            margin-left: 50px;

          }
        }

      }
    }

  }

  @include media-breakpoint-down(md) {

    @include font-size(16px);
    line-height: 1.3;

    a {
      @include font-size(16px);
    }

    .section__title {
      @include font-size(30px);
    }

    .section__description {
      margin-top: 20px;
    }

    .section__image {display: none;}

    .first {

      padding-bottom: 130px;

      .header .menu {
        position: relative;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        .landing-btn {
          max-width: 150px;
          width: 48%;
          padding: 12px 0;
          margin: auto;
        }
      }

      .section__bottom {
        height: 100px;
      }
    }

    .third {
      padding: 100px 0;

      .section__description {
        margin-top: 40px;
        .apple-store {margin-top: 50px;}
      }
    }

    .fourth {
      .section-c {
        .section-c__left {display: none;}

        .section-c__right {
          padding: 100px 15px;
          flex: 0 0 100%;

          .section__image {
            display: block;
            position: relative;
            bottom: 0;
            margin-top: 50px;
          }

        }
      }
    }

    .fifth {
      padding: 100px 0;

      .section__description {

        .apple-store { margin-top: 50px; }

      }
    }

    .sixth {

      padding-bottom: 40px;

      .description__list-title {
        height: auto;
      }

      .description__list {
        margin-bottom: 60px;
      }
    }

    .section__registration {

      padding: 100px 0;

      .section__title {
        margin-bottom: 40px;
      }

      .registration__form {
        margin-top: 40px;

        .light-form .litemetrix-btn {
          @include font-size(18px);
          margin-top: 10px;
        }

      }
    }

    .section__reviews {

      padding: 100px 0;

      .section__title { margin-bottom: 60px; }

      .owl-carousel {

        .owl-stage-outer {padding: 20px 0; }
        .owl-nav .owl-prev {left: 10px;}
        .owl-nav .owl-next {right: 10px;}

        .review-c {
          .review__photo {
            display: none;
          }

          .review__details-c {

            .review__text {
              height: 200px;
              overflow:hidden;
            }

            .review__arrow {
              display: none;
            }
          }

        }
      }
    }


  }

  @include media-breakpoint-down(sm) {

    .first {  padding-bottom: 110px;  }

    .second {  padding: 0 0 60px;  }

    .third {  padding: 60px 0;  }

    .fourth {
      .section-c {
        .section-c__right {
          padding: 60px 15px;
        }
      }
    }

    .fifth {  padding: 60px 0;  }

    .sixth {  padding-bottom: 0;  }

    .section__registration {  padding: 60px 0;  }

    .section__reviews {  padding: 60px 0;  }

  }

  @include media-breakpoint-down(xs) {

    .second .section__image {
      top: -30px;
      margin: 0;
    }

  }

}

.login-p {

  @include media-breakpoint-down(xs) {

    font-size: 12px;

    .login-c {
      .login__logo {
        img { width: 50%; }
      }
    }
  }

}


@media (hover: hover) {
  .main__left-c .left_categories-c li .category-name:hover {
    background: #e1e8eb !important;
    border-left: 3px solid #0085fa !important;
  }
}
