
/**********************радиусы .radius(5px);***************************/
@mixin radius ($radius: 10px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

/**********************масштаб .scale(0.5);***************************/
@mixin scale ($scale: 1) {
    transform: scale($scale);
    -webkit-transform: scale($scale);
    -o-transform: scale($scale);
    -moz-transform: scale($scale);
}

/**********************тень .shadow(3px,3px,3px,0px,rgba(0,0,0,0.5)) ***************************/
@mixin shadow ($left: 0px, $top: 0px, $blur: 5px, $width: 0px, $color: #666) {
    -webkit-box-shadow: $left $top $blur $width $color;
    -moz-box-shadow: $left $top $blur $width $color;
    box-shadow: $left $top $blur $width $color;
}

/**********************тень .rotate(10deg) ***************************/
@mixin rotate ($deg: 10deg) {
    -webkit-transform:rotate($deg);
    -moz-transform:rotate($deg);
    -o-transform:rotate($deg);
    transform:rotate($deg);
}

/********************** изменить расстояние между колонками bootstrap .row {@include no-gutters(50px);} ***************************/
@mixin no-gutters ($size: 0px) {
    //&.row {
    @include media-breakpoint-up(sm) {
        margin-right: -$size;
        margin-left: -$size;

        & > [class^="col-"],
        & > [class*=" col-"] {
            padding-right: $size;
            padding-left: $size;
        }
    }
    //}
}

//font size - rem. @include font-size(14px)
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}
@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin clip-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@function calculateArrowMargin($size) {
    @return -($size/2);
}

@mixin collapsed-arrow($size) {
    position: relative;
    display: block;

    &:after {
        content: '\e607';
        position: absolute;
        top: 50%; right: 20px;
        @include font-size($size);
        font-family: 'simple-line-icons';
        line-height: normal;
        margin-top: calculateArrowMargin($size);
        color: #e7e7eb;
    }

    &.collapsed {
        &:after {
            content: '\e604';
        }
    }
}

//баг - media-breakpoint-up выдает ошибку, хотя он и подключен, подключаем тут
@import "../../vendor/bower_components/bootstrap/scss/mixins/_breakpoints.scss";
@import "../../vendor/bower_components/bootstrap/scss/_variables";

//расширение bootstrap w-sm-25, h-md-50, w-md-100px...
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
        @each $prop, $abbrev in (width: w, height: h) {
            @each $size, $length in $sizes {
                .#{$abbrev}#{$infix}-#{$size} { #{$prop}: $length !important; }
            }
        }
    }
}