//for container with floating elements
.clearfix {
  zoom: 1;

  &:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
  }
}

//show spin loading
#overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  //background: rgba(255,255,255,0.5);

  .fa {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    font-size: 30px;
    color: #fff;
  }
}