$left-column-width: 300px;
$right-column-width: 350px;

$global-padding: 25px;

//color
$blue: #0085fa;
$blue-hover: #42a4fb;
$blue-line: #1d598f;

$grey: #6f809e;
$grey-light: #abbdd1;
$grey-dark: #262d33;

$landing-blue: #1c284c;
$landing-white: #f5f8fa;

//w-sm-25, h-md-50, w-md-100px...
$sizes: (
    '25': 25%,
    '50': 50%,
    '75': 75%,
    '100': 100%,
    '50px': 50px,
    '60px': 60px,
    '70px': 70px,
    '80px': 80px,
    '90px': 90px,
    '100px': 100px
);

//mt-sm-5, pl-md-6, pr-md-6, py-6
/*$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
        0: (
                x: 0,
                y: 0
        ),
        1: (
                x: ($spacer-x * .25),
                y: ($spacer-y * .25)
        ),
        2: (
                x: ($spacer-x * .5),
                y: ($spacer-y * .5)
        ),
        3: (
                x: $spacer-x,
                y: $spacer-y
        ),
        4: (
                x: ($spacer-x * 1.5),
                y: ($spacer-y * 1.5)
        ),
        5: (
                x: ($spacer-x * 3),
                y: ($spacer-y * 3)
        ),
        6: (
                x: ($spacer-x * 5),
                y: ($spacer-y * 5)
        )
);*/