//FontAwesome path
/*
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/fontawesome/fontawesome-webfont.woff2') format('woff2'),
  url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
  url('../fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'),
  url('../fonts/fontawesome/fontawesome-webfont.svg?#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
*/